.port-main-container {
  background-color: #b6cca1;
  height: 100vh;
}

.intro-container {
  text-align: center;
  padding-top: 2rem;
}

.intro {
  margin-top: 0;
  color: #30011e;
}

.disclaimer {
  color: #30011e;
  margin-bottom: 2rem;
}

.main-grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
